body {
    /* display: flex; */
    /* justify-content: space-around; */
    background-color: rgb(101, 101, 101);
}

button {
    width: 8rem;
    height: 4rem;

    border: none;
    /* border-radius: 8px; */

    font-weight: bold;

    /* display: inline-block; */
    /* position: relative; */
}

#click {
    background-color: bisque;
}

#hover {
    background-color: rgb(160, 253, 74);
}

.menu-container1,
.menu-container2 {
    display: none;
    /* position: absolute; */
}

.menu-display {
    display: block;
    position: absolute;
}

.menu-items {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */

    /* border: 1px solid black; */
    border-radius: 0 0 8px 8px;
    width: 8rem;
    
    /* padding: 1rem 0 .8rm .3rem; */
    /* background-color: wheat; */
}


a {
    text-decoration: none;
    padding: .4rem 0 0 .3rem;
    /* border: 1px solid black; */
}