body {
    background-color: rgb(101, 101, 101);
}

button {
    width: 8rem;
    height: 4rem;
    border: none;
    font-weight: bold;
}

#click {
    background-color: bisque;
}

#hover {
    background-color: rgb(160, 253, 74);
}

.menu-container1,
.menu-container2 {
    display: none;
}

.menu-display {
    display: block;
    position: absolute;
}

.menu-items {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    width: 8rem;
}


a {
    text-decoration: none;
    padding: .4rem 0 0 .3rem;
}