body {
    background-color: rgb(101, 101, 101);
}

button {
    width: 8rem;
    height: 4rem;
    border: none;
    font-weight: bold;
}

#click {
    background-color: bisque;
}

#hover {
    background-color: rgb(160, 253, 74);
}

.menu-container1,
.menu-container2 {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    /* width: 8rem; */
    /* height: 0; */
    transition-property: opacity;
    transition-duration: 2s;
    
}

.menu-display {
    display: block;
    /* height: 0px; */
    /* position: absolute; */
    width: 450px;
    transition: width 1s;
    
    
}

.menu-items {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    width: 8rem;
}


a {
    text-decoration: none;
    padding: .4rem 0 0 .3rem;
}